.vscode/settings.json
_not using/edict2.gz
_not using/jlpt-kanji - Copy.txt
_not using/jlpt-kanji.txt
_not using/JMdict_e.gz
_not using/savexmltofile.xml
_not using/edict2/edict2 - original.txt
_not using/edict2/edict2.txt
